<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
</head>
<body>

<div>

    <h2>Welcome, <span th:text="${username}"></span>!</h2>

    <div th:if="${selectedNutrition != null}">
        <h4>選択した食品の栄養素情報 (100g当たり)</h4>
        <p><strong>カロリー(kcal):</strong> <span th:text="${selectedNutrition.energy}"></span></p>
        <p><strong>タンパク質 (g):</strong> <span th:text="${selectedNutrition.protein}"></span></p>
        <p><strong>脂質 (g):</strong> <span th:text="${selectedNutrition.fat}"></span></p>
        <p><strong>コレステロール (mg):</strong> <span th:text="${selectedNutrition.cholesterol}"></span></p>
        <p><strong>炭水化物 (g):</strong> <span th:text="${selectedNutrition.carbohydrates}"></span></p>
    </div>
    <form action="#" method="post">
        <label>Food:</label>
        <select name="food">
            <option th:each="food : ${foods}" th:value="${food.getFoodName()}" th:text="${food.getFoodName()}"></option>
        </select>
        <label>Grams:</label>
        <input type="number" name="grams" placeholder="Enter weight in grams" />
        <label>Date:</label>
        <input type="date" name="date" />
        <input type="submit" value="Add" />
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    </form>
    

    <table>
        <tr>
            <th>年月日</th>
            <th>食品</th>
            <th>グラム</th>
            <th>カロリー(kcal)</th>
            <th>タンパク質(g)</th>
            <th>脂質(g)</th>
            <th>コレステロール(mg)</th>
            <th>炭水化物(g)</th>
        </tr>
        <tr th:each="entry : ${userNutritionHistory}">
            <td th:text="${entry.date}"></td>
            <td th:text="${entry.foodName}"></td>
            <td th:text="${entry.grams + 'g'}"></td>
            <td th:text="${entry.calories + 'kcal'}"></td>
            <td th:text="${entry.protein + 'g'}"></td>
            <td th:text="${entry.fat + 'g'}"></td>
            <td th:text="${entry.cholesterol + 'mg'}"></td>
            <td th:text="${entry.carbohydrates + 'g'}"></td>
        </tr>
    </table>

    <form action="/logout" method="post">
        <input type="submit" value="Logout" />
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    </form>
</div>

</body>

</html>
