<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body class="text-center">
    <h1>Login</h1>
    <form method="post" action="/doLogin">
        <label>ユーザーID</label>
        <input type="text" name="username" /><br/>
        <br />
        <label>パスワード</label>
        <input type="password" name="password"/><br/>
        <br />
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit">ログイン</button>
    </form>
    <br />
    <a th:href="@{'/signup'}">新規登録はこちら</a>
</body>
</html>